<!DOCTYPE html>
<html>
<head>
  <title>The San Francisco First Annual General Assembly Parade of Flowers</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
  <!-- Your App -->
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="flowers.js"></script>
</head>
<body>

  <h1>The San Francisco First Annual General Assembly Parade of Flowers</h1>

  <!-- flower template placeholder -->
  <hr>
  <div id="flower-placeholder"></div>
  <hr>

  <!-- flower template -->
  <script type="text/template" id="flower-template">
      <img src=<%= image %> align="left">
      <p id="flower-text">
        <b>Flower Name:</b> <%= name %></br>
        <b>Flower Color:</b> <%= color %></br>
        <b>Petal Count:</b> <%= petals %></br>
        <b>Leaf Count:</b> <%= leafCount %></br>
        <b>Origin:</b> <%= origin %></br>
        <b>Edible:</b> <%= isEdible ? "Yes" : "No" %></br>
        <b>Smells Pretty:</b> <%= smellsPretty ? "Yes" : "No" %></br>
        <b>Comments:</b> <%= comments %></br></p>
  </script>
  
</body>
</html>